/*Default Bootstrap System CSS Change*/
.navbar
{
   
    /*left:2%;*/
    /*right:2%;*/
    /*width:96%;*/

/*        background-color: white !important;
*/
    background-color: #EDE7F6 !important;
    left:10%;
    /*right:2%;*/
    width:80%;
/*    background-color: #EDE7F6 !important;

*/    
/*   box-shadow: 0px 1px 1px graytext !important;
*/
    padding: 4px;

    /*background-color: #008b00 !important;*/
    /*background-color: #00a61f !important;*/


/*    border-bottom: 4px solid #008b00;
*/
/*   border-bottom: 4px solid #bfbfbf;
*/
    
/*    border-radius: 0 0 5px 5px;
*//*    background-color: #f00000;
*/
    /*background-color: #81221D;*/
}


/*navbar*/
.navbar-nav > li {
     margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 2px graytext !important;
    /*background-color: #008b00;*/
/*    background-color: white;
*/
    /*background-color: #00a61f;*/
background-color: white;
    text-shadow: 1px 0px 2px #979797;
    margin-left: 2px;
    
    border: 1px solid whitesmoke;
    transition: all 2s;
     z-index: 99999;
  /*background-color: #f00000;*/

  /*background-color: #81221D;*/
}

.navbar_container
{

/*    padding-left: 90px !important;
*/
/*    padding-left: 130px !important;
*/    
}
.navbar-nav > li:hover {
    box-shadow: 0px 2px 2px graytext !important;
    text-shadow: 1px 0px 2px #979797;
    margin-left: 2px;
    border-radius: 25px 0px 25px 0px;
    border: 1px solid whitesmoke;
/*    transform: scale(0.99);
*/    z-index: 99999;
  /*background-color: #f00000;*/

  /*background-color: #81221D;*/
}
    

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
   /* margin-left:5%;
    margin-right:15%;*/
}



body {
/*    background: none repeat scroll 0 0 #262626;
*/    
background-color: #EDE7F6 !important;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
/*header start*/
header {
    /*-moz-box-shadow:0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    -webkit-box-shadow:0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);*/
        /*box-shadow: 0px 2px 6px graytext;*/
/*        border-bottom: 25px solid #6bc8b5;
*/        
        box-shadow: 0px 1px 5px graytext;
        -moz-box-shadow: 0px 1px 5px graytext;
        -webkit-box-shadow: 0px 1px 5px graytext;
    
    
    /*border-bottom: none;*/
    background-color: #6BC8B6;
    

/*    background-image: linear-gradient(#333333, #262626 85%, #0d0d0d);
*/    background-repeat: no-repeat;
    border-top: 4px solid #6BC8B6;
    height: 70px;
    left: 0;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 10px;
/*    padding-top: 6px;
*/    margin-bottom: 15px;
   text-shadow: 2px 2px 4px #000000;
}
#system_title
{
    font-size: 18px;
    /*color: #ececec;*/
    color: white;
    background-color: #6BC8B6;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
}
/*#system_title:hover
{
    padding: 8px;
    box-shadow: 0 0 2px gray;
}*/

header .site_logo{
    margin-top: 5px;
    margin-right: 10px;
}
header .site_title{
/*    color: white;
*/    color: #ececec;
    font-weight: bold;
    font-size: 25px;

}
/*header end*/
/*common*/
.widget {
    /*background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #cfcfcf;
    border-radius: 3px;*/
    clear: both;
    margin: 0px 0;
    padding-bottom: 20px;

}
.widget-header{
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(center top , #fcfcfc, #e8e8e8);
    border-bottom: 1px solid #cfcfcf;
    border-radius: 2px 2px 0 0;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 20px;
}

.widget-header .title{
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.margin_bottom{
    margin-bottom: 10px;
}
.table tr:nth-child(even)
{
    background-color: whitesmoke;
}
.show-grid {

    margin: 0px 0px 10px;
}
.dashboard-wrapper {
    background-color: #EDE7F6 !important;
    border-radius: 0 0 4px 4px;
    margin-bottom: 20px;
    min-height: 480px;
    padding: 10px;
    position: relative;
    margin: 0 0 20px 0;
}
.menus_block
{
    background-color: #EDE7F6 !important;
}
.sms_dv
{
    background-color: #EDE7F6 !important;
}

/*common ends*/
/*dropdwon menu starts*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
    color: black;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}


.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;

}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;

}
/*dropdwon menu end*/
/*footer starts*/
footer {

/*    background-color: rgb(102,102,102); 
*/       
 
    /*background-color: #008d00;*/
    /*background-color: #009545;*/
background-color: #01843a;  
    color: #d2d2d2;
    font-size: 11px;
    font-weight: normal;
    line-height: 40px;
    padding: 10px;
    z-index: 1;
/*    margin: 0 15px;
*/
    padding-top: 40px;
}
/*footer end*/

/*login form start*/
.login-wrapper {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 18px 6px -8px #919191, 0 0 0 #cccccc;
    position: relative;
}
.login_header{
    margin: 0;
    padding: 30px 20px 10px;
}
.login_header h3 {
    color: #f63131;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login_content{
    padding: 10px 20px;
}
.login_action{
    padding: 10px 20px;
}
/*login form end*/
/*loader*/
#system_loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    /*background-color: #000000;*/
    /*opacity: 0.2;*/
    display: none;

}
#system_loading img{
    position: fixed;
    top: 40%;
    left: 35%;
}
/*message area*/
#system_message{
    box-shadow: 2px 5px 10px graytext !important;
    position: fixed;
    bottom: 60px;
    right: -5000px;
    color: white;
    opacity: 0;

    /*background-color: #961617;*/
    
/*background-color: #009400;
*/
    background-color: #008300;
    padding: 10px;
    border: 1px solid graytext;
    border-radius: 4px;
}
.btn-upload
{
    box-shadow: 1px 4px 6px graytext; !important;
}

.navbar-nav > li a
{
    font-weight: bolder;
    font-size: 15px;
    color: #484646 !important;

/*    color: white !important;
*/}

.navbar-nav > li:first-child {
    /*border-left: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}
.navbar-nav > li:last-child {
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}
.navbar-nav > li:nth-child(even){
    /*background-color: #09af00;*/
    /*background-color: #f00000;*/
/*      background-color: #008b00;
*/      
/*      background-color: #00a61f;
*/
background-color: white;

    

}
/*action_buttons*/
.action_button{
    display: inline-block;
    float: left;
    margin: 5px;
    color: #00914b;;
}
.action_button a,.action_button button{
    /*background-color: #0d0d0d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    background-color: #EDE7F6;
/*    border: 1px solid #6e6d6c;
*/    border: 1px solid #ECEFF1;
    font-weight: bold;
    box-shadow: 1px 2px 4px graytext;
    color: #00914b;;
}
.action_button a:hover,.action_button button:hover{
    background-position: 0 -15px;
    color: #00b109;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
/*datepicker*/
.ui-datepicker-month,.ui-datepicker-year{
    color: #000000;
}
.jqxgrid_input{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 100%;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.integer_type_positive,.float_type_positive,.float_type_all,.integer_type_all{
    text-align: right;
}
.print_container{
    width: 8.27in;
    margin: .5in;
}
/*date, time, calender */
.datepicker, .date_large
{
    cursor: pointer !important;
}


.custom-title-header
{
    background-color: green !important;
}
.custom-title
{
    color: white;
    font-size: 17px;
}

/*School Management System*/
.sms_dv{
  box-shadow: 0 1px 2px 0 rgba(0,4,0,0.4), 0 4px 8px 0 rgba(0,6,0,0.5);
}
.manage_btn
{
    background-color: #EDE7F6;
/*    border: 1px solid #6e6d6c;
*/    border: 1px solid #ECEFF1;
    font-weight: bold;
    box-shadow: 1px 2px 4px graytext;
    font-size: 12px;
    color: #00914b;
}
.manage_btn a
{
   text-decoration: none;
   color: #00914b;
}
.manage_btn a:hover
{
   color: #00b109;
}
.manage_btn:hover
{
   color: #00b109 !important;
}

.add_edit
{
    margin-top: 10px;
}
.footer_title{
    height: auto;
    padding: 20px;   
}
.footer_title_f{
    padding-left: 45px !important;
}
.footer_r{
    background-color: rgb(248,248,248);
}
.social_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
     box-shadow: 0 0 0px 0px white;
     
     transition: all 2s;
     transform: scale(1);
}
.footer_text{
padding-top: 15px;
padding-bottom: 15px;
}
/*.footer{
    background-color: rgb(102,102,102);
    color: #d2d2d2;
    z-index: 1;
    padding: 15px;
     
}*/
.footer_icon{
    padding-top: 10px;
    padding-bottom: 10px;
}
.social_button:hover{
    letter-spacing: 1px;
     transform: scale(0.98);   
}
.social_buttonfb{

}
.social_buttonfb:hover{
    webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: fb;
    transition: all 2s;
    animation-duration: 4s;
}
@keyframes fb {
    0%   {background-color: #3b5998;}
    25%  {background-color: #4e69a2;}
    50%  {background-color: #627aac;}
    100% {background-color: #03A9F4;}
}
.social_buttonyt:hover{
    webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: yt;
    transition: all 2s;
    animation-duration: 4s;
}
@keyframes yt {
    0%   {background-color: #EF5350;}
    25%  {background-color: #E53935;}
    50%  {background-color: #D50000;}
    100% {background-color: #A64B35;}
}

.social_buttonins:hover{
    webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: ins;
    transition: all 2s;
    animation-duration: 4s;
}
@keyframes ins {
    0%   {background-color: #689F38;}
    25%  {background-color: #7CB342;}
    50%  {background-color: #33691E;}
    100% {background-color: #8BC34A;}
}
.social_buttongplus:hover{
    webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: gplus;
    transition: all 2s;
    animation-duration: 4s;
}
@keyframes gplus {
    0%   {background-color: #B71C1C;}
    25%  {background-color: #EF5350;}
    50%  {background-color: #C62828;}
    100% {background-color: #d34836;}
}

.social_buttontwtr:hover{
    webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: twtr;
    transition: all 2s;
    animation-duration: 4s;
}
@keyframes twtr {
    0%   {background-color: #00aced;}
    25%  {background-color: #1dcaff;}
    50%  {background-color: #0099e5;}
    100% {background-color: #1dcaff;}
}

.footer_title{
    list-style-type: none;
     
}
.footer_title li a{
    color: #d2d2d2;
}
.footer_menu{
    padding-left: 15px;
}
.footer_copyright{
    padding: 10px;
}
.footer_title ul li{
    list-style-type: none;
}
.icon-social{
    border: 0;
    color: #fff;
    border-radius: 100%;
    display: inline-block !important;
    width: 42px;
    height: 42px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    padding-top: 15px;

}
.social li{
    list-style-type: none;


}
.social li a{
    text-decoration: none;
   color: silver;
    font-size: 18px;


}
.social li a:hover{
    
}
.icon-facebook{
    background-color: #4f7dd4;
}
.icon-google-plus{
    background-color:#d34836
}
.icon-twitter{
    background-color:#55acee
}

.icon-youtube{
    background-color:#c4302b
}

.jobwrapperbox
{
    padding-left: 5px;
    padding-right: 5px;
}

.list_block_panel
{
    /*    box-shadow: 0px 2px 6px graytext !important;
*/
box-shadow: 0px 3px 8px graytext !important;
/*    border-radius: 8px;
*/
/*    background-color: #EDE7F6 !important;
*/
}
.details_block_panel
{
/*    box-shadow: 0px 2px 6px graytext !important;
*/

/*box-shadow: 0px 2px 6px graytext !important;
*/
box-shadow:0 1px 2px 0 rgba(0,4,0,0.4), 0 4px 8px 0 rgba(0,6,0,0.5);
/*    border-radius: 8px;
*/
    background-color: #EDE7F6 !important;

    border-radius: 0px !important;

/*background-color: #f5f5f5 !important;
*/
}
.details_nested_block_panel
{
    background-color: #EDE7F6 !important;
}
.details_block_panel_collapse
{
    /*box-shadow: 0px 2px 6px graytext !important;
    border-radius: 8px;*/

    /*Last comment*/
    background-color: #EDE7F6 !important;

    margin: 16px;
   /* background-color: white !important;*/
}
.details_nested_block_panel_collapse
{
    padding-top: 10px;
}
.details_block_panel_middle
{
    margin-left: 30px;
    padding-left: 15px;
}
.details_block_panel_heading
{
    background-color: #EDE7F6 !important;

    /*background-color: white !important;*/

}
.details_panel_heading
{
    padding: 0px 5px !important;
    background-color: #EDE7F6 !important;
}
.details_basic_block
{
    margin: 2px;
/*    border: 1px solid #b6b8b3;
*/    
border: 1px solid #dadcd7;

    padding: 25px;
    color:green;
}
.details_head_block
{
   padding-left:10px; 
}
.details_bottom_block
{
    padding-top: 30px;
    padding-left: 40px;
}
.details_middle_border
{
    padding-top: 10px;
    border-bottom: 1px solid #dadcd7;
    margin-left: -16px !important;
    margin-right: -16px !important;
}
.main_block
{
    background-color: #EDE7F6 !important;
}
.users_img{
    -moz-transition: all 2s;
-webkit-transition: all 2s;
    transition: all 2s;
    -moz-transform: scale(1);
-webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.users_img:hover{
    -moz-transition: all 2s;
-webkit-transition: all 2s;
    transition: all 2s;
    -moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.9;
}
.users_img{
     -moz-box-shadow:0 0 1px 1px #868686;
    -webkit-box-shadow:0 0 1px 1px #868686;
    box-shadow: 0 0 1px 1px #868686 !important;
}

.manage_btn_green
{
    background-color:#007b00;
    color:white;
    font-weight: bold;
    box-shadow: 1px 4px 8px graytext;
    font-size: 14px;
}
.manage_btn_danger
{
    background-color:#0d9370;
    color:white;
    font-weight: bold;
    box-shadow: 1px 4px 8px graytext;
    font-size: 14px;
}
.manage_btn_green:hover
{
    color: black;
    /*letter-spacing: 1px;*/
}
.manage_btn_danger:hover
{
    color: black;
    /*letter-spacing: 1px;*/
}

